@model Ecommerce.Models.User
@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form method="post">
    Username:
    <input type="text">
    Password:
    <input type="password">
</form>